body {
text-align: center;
background: url('images/map.png');
background-size: cover;
background-position: center;
color: black;
font-family: helvetica;
}
input {
border: 4px;
padding: 10px;
font-size: 18px;
}
div {
background-size: cover;
background-position: center;
}
h1{
background-position: center;
}
#intro{
font-size: 55px;
}
#default{
background: url('images/map.png');
background-repeat: no-repeat;
background-position: center;
}
#cloudy{
background: url('images/cloudy.png');
background-repeat: no-repeat;
background-position: center;
}
#rainy{
background: url('images/rain.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
#snowy{
background: url('images/snowy.png');
background-repeat: no-repeat;
background-position: center;
}
#sunny{
background: url('images/sunny.png');
background-repeat: no-repeat;
background-position: center;
}